---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import styles from './Header.module.scss';
import '../styles/global.scss';
import Button from './ui/Button';
---

<header class={styles.header}> 
  <nav class={styles.nav}>     
    <ul class={styles.menu}>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </ul>
  </nav>
  <h2 class={styles.title}><a href="/" class={styles.titleLink}>{SITE_TITLE}</a></h2>
  <Button variant="primary" size="medium">Заказать</Button>
</header>
